@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulseLeftRight {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.pulse-horizontal {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(90, 70, 58, 0.8), rgba(0, 0, 0, 0.2));
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: pulseLeftRight 3s linear infinite;
}
